<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "navbar" }}

<div class="container">
	<!--GITHUB_DISCLAIMER-->
	<!--	<div class="alert alert-warning">-->
	<!--		<p><strong>Discord update:</strong> A recent bot-hijack resulted in many accounts being banned from our Discord server, along with a general server reset. Besides bans, no user accounts were affected, and the server has largely been restored to its former state. <a class="alert-link" href="https://discord.gg/5etools" target="_blank" rel="noopener noreferrer">You can rejoin here.</a></p>-->
	<!--	</div>-->
</div>

{{> "adRhsScrollingPage" }}

<div class="home__stripe">
	<div class="home__split relative">
		<div class="home__stripe-header ve-text-right home__h-player"><div class="w-100 ve-text-left mobile__text-center">Players</div></div>
		<div class="ve-flex ve-flex-wrap relative home__split-spaced home__split-spaced--gutter home__split-spaced--no-header home__wrp-buttons">
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="races.html">
				<div class="fal fa-users home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Species</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="classes.html" title="Quickly browse the official classes, and their associated subclasses.
Unearthed Arcana content can be accessed by cycling the &quot;All Sources&quot; button.">
				<div class="fal fa-hat-wizard home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Classes</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="feats.html">
				<div class="fal fa-award home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Feats</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__btn-player" href="optionalfeatures.html" title="A searchable, filterable list of feature choices, including Eldritch Invocations for the Warlock Class, and Maneuvers for the Fighter's Battlemaster subclass.">
				<div class="fal fa-drafting-compass home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Options<br>&amp; Features</h4>
			</a>

			<!-- mobile only -->
			<a class="home__btn-page ve-btn ve-btn-default home__narrow-visible home__btn-player" href="backgrounds.html">
				<div class="fal fa-portrait home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Backgrounds</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__narrow-visible home__btn-player" href="items.html">
				<div class="fal fa-helmet-battle home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Items</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__narrow-visible home__btn-player" href="spells.html">
				<div class="fal fa-book-spells home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Spells</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__narrow-visible home__btn-player" href="statgen.html">
				<div class="fal fa-tally home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Stat<br>Generator</h4>
			</a>
		</div>

		<div class="ve-flex ve-flex-wrap home__wrp-buttons home__narrow-hidden">
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="backgrounds.html">
				<div class="fal fa-portrait home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Backgrounds</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="items.html">
				<div class="fal fa-helmet-battle home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Items</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="spells.html">
				<div class="fal fa-book-spells home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Spells</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__btn-player" href="statgen.html">
				<div class="fal fa-tally home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Stat<br>Generator</h4>
			</a>
		</div>
	</div>

	<div class="my-4 home__mobile-hidden home__narrow-hidden"></div>
	<div class="my-4 home__mobile-hidden home__narrow-visible"></div>
	<div class="my-4 home__mobile-hidden"></div>

	<div class="home__split">
		<div class="ve-flex ve-flex-wrap relative home__split-spaced home__split-spaced--gutter home__wrp-buttons">
			<div class="home__stripe-header home__h-rule"><div class="w-100 ve-text-left mobile__text-center">Rules</div></div>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-rule" href="adventures.html">
				<div class="fal fa-dungeon home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Adventures</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-rule" href="books.html">
				<div class="fal fa-books home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Books</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-rule" href="variantrules.html" title="A searchable selection of commonly used rules and tables.">
				<div class="fal fa-info-square home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Rules<br>Glossary</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__btn-rule" href="conditionsdiseases.html">
				<div class="fal fa-skull-crossbones home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Conditions</h4>
			</a>
		</div>

		<div class="my-4 home__mobile-visible"></div>

		<div class="ve-flex ve-flex-wrap relative home__wrp-buttons">
			<div class="home__stripe-header home__h-dm"><div class="w-100 ve-text-left mobile__text-center">Game Masters</div></div>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-dm" href="bestiary.html">
				<div class="fal fa-dragon home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Bestiary</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-dm" href="dmscreen.html">
				<div class="fal fa-map home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">DM Screen</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-dm" href="lootgen.html" title="A random loot generator for both individual and hoards of treasure.">
				<div class="fal fa-treasure-chest home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Loot<br>Generator</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__btn-dm" href="crcalculator.html" title="A verbose, in-depth Challenge Rating calculator, for determining the CR of homebrew creatures.">
				<div class="fal fa-abacus home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">CR<br>Calculator</h4>
			</a>
		</div>
	</div>

	<div class="my-4"></div>

	<hr class="no-shrink w-100 my-0">
</div>

<main class="container">
	{{> "adLeaderboard" }}

	<div class="w-100">
		<h3>FAQ</h3>
		<p><b>Browser and device support?</b> The latest desktop versions of Chrome and Firefox.</p>
		<p><b>Where's my stuff?</b> There's no account system. Everything is stored in cookies. If you wipe those, or close your incognito window, it's gone forever. You can download your data for safekeeping via the Settings menu.</p>
		<p><b>Anything else I should know?</b> Hold <kbd>SHIFT</kbd> when hovering to lock a window in place. Everything has tooltips.</p>
	</div>
</main>
<footer class="container">
	<p class="ve-text-center">
		Version
		<a id="version_number" href="#">?</a>
		| <span id="current_year">2019</span> Spies &amp; Spiders
		| <a href="privacy-policy.html">Privacy Policy</a>
	</p>
</footer>
<div class="cancer__footer-pad"></div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
